# Dependencies
node_modules

# Environment
.env
.env.local
.env.development
.env.production
.env.prod
.env.test
.env.*.local

# Holo
.holo-js/framework
.holo-js/generated
.holo-js/runtime
.holo-cli

# Nuxt
.nuxt
.output
.nitro
.data
.netlify
.vercel

# Next.js
.next
out
next-env.d.ts

# SvelteKit
.svelte-kit
build

# Build / Misc
dist
coverage
*.log
*.tsbuildinfo

# Database
*.db
*.sqlite
*.sqlite3
*.sqlite-wal
*.sqlite-shm

# Storage
storage

# OS
.DS_Store
Thumbs.db
